@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<h2>Create Order</h2>
<form method="post" asp-action="CreateOrder" asp-controller="home">
    Order Id<input type='text' name = "orderId" value="@ViewBag?.OrderId"/><br/><br/>
    Member Id<input type='text' name = "memberId" value="@ViewBag?.MemberId"/><br/><br/>
    Required Date<input type='datetime-local' name = "requiredDate" value="@ViewBag?.RequiredDate" min="2020-01-07T00:00" max="2023-01-14T00:00"/><br/><br/>
    Shipped Date<input type='datetime-local' name = "shippedDate" value="@ViewBag?.ShippedDate"/><br/><br/>
    Freight<input type='text' name = "freight" value="@ViewBag?.Freight"/><br/><br/>
    <input type="submit" value="Save"/><br/><br/>
    <span>@ViewBag?.Message</span>
</form>
